@import '~antd/dist/antd.less';
.ant-card-actions{
    background: transparent;
}
.ant-card-meta-title{
    font-size: 1.4rem;
}
.ant-card-cover{
    border: 1px solid #F0F0F0;
}
.ant-form-horizontal .ant-form-item-label{
    text-align: start;
}
.ant-switch-inner{
    font-size: 16px;
}
.ant-switch-checked .ant-switch-inner{
    margin: 0 25px 0 2px;
}
.ant-switch-inner{
    margin: 0 2px 0 25px;
}
.ant-switch-checked{
    background: #4D4D4D;
    border-color: #4D4D4D;
}
.ant-switch-checked:focus .ant-switch-handle::before,
.ant-switch:hover .ant-switch-handle::before{
    box-shadow: 0 0 2px 3px #e01545;
}
.ant-switch-checked:focus{
    box-shadow: none;
}